.header-zone{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 100px;
}

.box{
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

@media (max-width: 840px) {
    .box .text-zone {
        display: flex;
    }
    .box .text-zone h1{
        font-size: 50px;
    }
    .box .icon-zone span{
        width: 190px;
    }
}
@media (max-width: 490px) {
    .box .text-zone {
        display: flex;
    }
    .box .text-zone h1{
        font-size: 40px;
    }
    .box .text-zone{
        gap: 12px;
    }
    .box .text-zone span{
        width: 30px;
    }
    .box .icon-zone span{
        width: 120px;
    }
}
.text-zone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 81px;
}

.text-zone h1{
    color: #FFF;
    font-family: "Racing Sans One",sans-serif;
    font-size: 64px;
    font-weight: 400;
    text-transform: uppercase;
}

.icon-zone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

}
.icon-zone span {
    height: 2px;
    width: 240px;
    background-color: #FFF;
    color: #fff;
}
.text-zone span{
    height: 2px;
    width: 50px;
    background-color: #FFF;
    color: #fff;
}